.Results h2 {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.5px;
    padding: 10px;
    text-align: left;
   
}
.Results .phonetic {
    color: #ccdde7;
    opacity: 0.7;
    font-weight: bolder;
}
